label {
	width: 200px;
	display: inline-block;
}

input {
	padding: 6px;
	font-size: 14px;
	border-radius: 4px;
}

input[type="checkbox"], input[type="radio"] {
	height: 16px;
	width: 16px;
}
